<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android.hedgehogs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign.SignInActivity"/>
        <activity android:name=".main.videos.item.ItemVideoActivity"/>
        <activity android:name=".main.download.DownloadActivity"/>
        <receiver android:name=".notification.AlarmReceiver">
        </receiver>
        <receiver android:name=".notification.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>